.heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.buscador {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}

.noticias_container {
    display: flex;
    flex-flow: wrap;
}

.btn_block {
    width: 100%;
}

.card_title {
    font-size: 1.5rem;
}

.card_source {
    font-weight: bold;
}

.align_center {
    text-align: center;
}